# Chat Provider, remember to set the api key / base url / model for the provider
CHAT_PROVIDER=gemini
GOOGLE_API_KEY=your-google-api-key-here
GOOGLE_GENAI_MODEL=gemini-2.0-flash

# Embeddings Provider, remember to set the api key / base url / model for the provider
EMBEDDINGS_PROVIDER=ollama

# Ollama settings (required if CHAT_PROVIDER=ollama, in docker compose, use host.docker.internal instead of localhost)

# If you are using macOS with docker-compose, you can use host.docker.internal
OLLAMA_API_BASE=http://host.docker.internal:11434
# OLLAMA_API_BASE=http://localhost:11434

OLLAMA_EMBEDDINGS_MODEL=nomic-embed-text

# MinIO settings (required)
MINIO_ENDPOINT=localhost:9000
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin
MINIO_BUCKET_NAME=documents

# Vector Store settings (required)
VECTOR_STORE_PROVIDER=milvus
MILVUS_URI=http://milvus-standalone:19530

# PostgreSQL settings (required)
POSTGRESQL_SERVER=db
POSTGRESQL_PORT=5432
POSTGRESQL_USER=llmops
POSTGRESQL_PASSWORD=llmops
POSTGRESQL_DATABASE=llmops

# JWT settings (required)
SECRET_KEY=your-secret-key-here
ACCESS_TOKEN_EXPIRE_MINUTES=10080

